{% extends 'Blog/home.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p style="text-align: justify;text-indent:50px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id culpa
        voluptatum, corporis exercitationem dolore sequi soluta voluptas dolor ea blanditiis cum ut rem voluptatibus
        velit, assumenda eligendi quo eaque? Error minus ipsa temporibus, excepturi voluptate cum facere omnis deleniti,
        nesciunt consequuntur rerum quisquam repudiandae accusamus culpa aliquid. Id veniam temporibus iste ab
        architecto ea accusantium commodi qui repellendus, voluptatem, aspernatur modi saepe cumque minus fugit! Eos
        modi expedita recusandae odit vitae cumque ducimus et consequatur mollitia inventore voluptatum officia sed,
        magni explicabo nihil voluptatibus voluptatem nam corrupti? Fuga, itaque iure, corporis veritatis tempore magnam
        corrupti aliquam qui est natus commodi dolor? Iste qui earum quidem minima consectetur exercitationem asperiores
        ex dolor saepe, vitae illum, quas tenetur possimus laborum id officiis reiciendis aspernatur itaque error.
        Quisquam explicabo quis, sint laboriosam voluptatum at voluptatibus. Distinctio reiciendis hic, perspiciatis est
        nostrum odio pariatur cupiditate velit quidem. Aperiam explicabo ipsum id pariatur earum, quas quidem assumenda
        minima consequuntur sint voluptatem minus enim sed quae facere unde beatae totam non. Veritatis ipsam eos iure
        quos tempore beatae explicabo repellat dolorem, minima nisi voluptatem necessitatibus libero laudantium vitae
        alias quae inventore, ratione optio exercitationem quaerat et sit! Odio porro voluptate asperiores veniam
        laudantium numquam temporibus placeat dicta, tempora aliquam sunt, reprehenderit veritatis ea, non voluptas
        ullam eaque nesciunt iste facere nulla repellat architecto earum ducimus soluta. Voluptas laborum saepe amet
        quos perferendis totam possimus eum sint eligendi dolores ex, dicta aliquam cupiditate quod corrupti praesentium
        quaerat voluptatum blanditiis! Fugit optio nostrum iure, rem non at quos molestias.</p>
</div>
{% endblock content %}